.spikers__1 {
  margin-top: 30px;
  margin-left: 30px;
}

.spikers__1 a {
  font-family: Gilroy-Medium;
  font-size: 16px;
  line-height: 19px;
  color: rgba(17, 17, 17, 0.54);
  padding: 14px 16px;
}

.spikers__1 .spikers__activ {
  background: #E7F0FF;
  border-radius: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #006AFF;
}

.spikers__2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.spikers__2 img {
  width: 54px;
  height: 54px;
  border-radius: 16px;
  margin-right: 18px;
}

.spikers__2 table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spikers__2 table tr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  margin-top: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.spikers__2 table .spikers__tr {
  height: 86px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.06);
  margin-left: 54px;
}

.spikers__2 .spikers__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.spikers__2 .spikers__category {
  font-family: Gilroy-Medium;
  font-size: 16px;
  line-height: 19px;
  color: #111111;
  opacity: 0.54;
  padding-left: 54px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  border-top: 2px solid rgba(17, 17, 17, 0.06);
  border-bottom: 2px solid rgba(17, 17, 17, 0.06);
}

.spikers__2 .spikers__category th:first-child {
  margin-left: 16px;
}

.spikers__2 .spikers__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spikers__2 .spikers__p h2 {
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  opacity: 0.72;
  padding-top: 4px;
}

.spikers__2 a {
  text-decoration: none;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 21px;
  color: #111111;
}

.spiker__1__asos .spiker__1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
  border-bottom: 2px solid rgba(17, 17, 17, 0.06);
  padding-bottom: 36px;
}

.spiker__1__asos .spiker__1 img {
  width: 172px;
  height: 172px;
  border-radius: 18px;
}

.spiker__1__asos .spiker__1 .spiker__pic {
  padding-left: 30px;
}

.spiker__1__asos .spiker__1 p {
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: rgba(17, 17, 17, 0.72);
  width: 430px;
  height: 76px;
  background: rgba(17, 17, 17, 0.02);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 30px;
  margin: 10px 0px;
}

.spiker__1__asos .spiker__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(17, 17, 17, 0.06);
}

.spiker__1__asos .spiker__2 h1 {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 21px;
  color: rgba(17, 17, 17, 0.36);
  padding: 36px 0px 18px 0px;
}

.spiker__1__asos .spiker__2 input {
  width: 334px;
  height: 76px;
  background: #11111124;
  border-radius: 18px;
  border: none;
  outline: none;
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  opacity: 0.3;
  padding-left: 30px;
  margin-right: 12px;
}

.spiker__1__asos .spiker__2 .spiker__ban {
  padding-left: 17px;
  border-left: 1px solid rgba(17, 17, 17, 0.06);
}

.spiker__1__asos .spiker__2 .spiker__ban a {
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: #EB5757;
  width: 178px;
  height: 76px;
  background: #eb575748;
  border-radius: 18px;
  padding: 24px 30px;
}

.spiker__1__asos .spiker__2 .spiker__ban div {
  padding: 0px 0px 18px 0px;
}

.spiker__1__asos .spiker__2 .spiker__ban textarea {
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  background: #11111124;
  opacity: 0.3;
  width: 524px;
  height: 166px;
  border-radius: 18px;
  border: none;
  outline: none;
  padding: 24px 30px;
  margin-right: 17px;
}

.spiker__1__asos .spiker__2 .spiker__ban .spiker__3__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 18px;
  margin-top: -4px;
}

.spiker__1__asos .spiker__3 {
  border-right: 1px solid rgba(17, 17, 17, 0.06);
  padding: 0px 0px 24px 30px;
}

.spiker__1__asos .spiker__3 h1 {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 21px;
  color: rgba(17, 17, 17, 0.36);
  text-align: left;
  padding-bottom: 18px;
}

.spiker__1__asos .spiker__3 a {
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: #EB5757;
  width: 178px;
  height: 76px;
  background: #eb575748;
  border-radius: 18px;
  padding: 24px 30px;
}

.spiker__1__asos .spiker__3 textarea {
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  background: #11111124;
  opacity: 0.3;
  width: 524px;
  height: 260px;
  border-radius: 18px;
  border: none;
  outline: none;
  padding: 24px 30px;
  margin-right: 17px;
}

.spiker__1__asos .spiker__3 div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spiker__1__asos .spiker__3 .spiker__3__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spiker__1__asos .spiker__3 .spiker__3__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 18px;
  margin-top: 18px;
}

.spiker__1__asos .spiker__4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 36px 30px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.06);
}

.spiker__1__asos .spiker__4 p {
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  padding-right: 54px;
  font-weight: 600;
}

.spiker__1__asos .spiker__4 p span {
  color: #006AFF;
}

.spiker__1__asos .spiker__5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 30px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.06);
}

.spiker__1__asos .spiker__5 p {
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
  padding: 12px 0px;
  font-weight: 400;
}

.spiker__1__asos .spiker__5 p span {
  font-weight: 600;
}

.spiker__1__asos .spiker__5 .spiker__tolovlar {
  padding-left: 100px;
}

.spiker__1__asos .spiker__6 {
  padding: 36px 30px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.06);
}

.spiker__1__asos .spiker__6 h1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.spiker__1__asos .spiker__6 h1 span {
  color: #006AFF;
  font-weight: 600;
}

.spiker__1__asos .spiker__7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 36px 30px;
  border-bottom: 2px solid rgba(17, 17, 17, 0.06);
}

.spiker__1__asos .spiker__7 p {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 21px;
  color: rgba(17, 17, 17, 0.36);
  padding-bottom: 18px;
}

.spiker__1__asos .spiker__7 h1 {
  font-family: Gilroy-Medium;
  font-size: 24px;
  line-height: 28px;
  color: rgba(17, 17, 17, 0.72);
  width: 524px;
  height: 76px;
  border-radius: 18px;
  background: #f5f5f5;
  padding: 24px 0px 24px 30px;
  margin-bottom: 24px;
}

.spiker__2__asos {
  padding: 30px 56px 50px 30px;
}

.spiker__2__asos h1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(17, 17, 17, 0.36);
  padding-bottom: 18px;
}

.spiker__2__asos table {
  width: 100%;
}

.spiker__2__asos .spiker__tr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 2.5fr 3fr 2.5fr 2fr;
      grid-template-columns: 1.5fr 2.5fr 3fr 2.5fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(17, 17, 17, 0.03);
  border-radius: 18px;
  padding-left: 38px;
  padding-right: 70px;
  margin-bottom: 12px;
}

.spiker__2__asos .spiker__tr p {
  font-family: Gilroy-Medium;
  font-size: 16px;
  line-height: 19px;
  color: #111111;
  opacity: 0.72;
  padding-top: 27px;
  padding-bottom: 27px;
}
