
.kurslar__imgs{
    a{
        display: flex;
        align-items: flex-end;
    }
}
.kurslar__imgbig{
    img{
        width: 154px;
        height: 102px;
        border-radius: 12px;
        object-fit: cover;
        mask-image: url(../icons/Asset.png);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100%;
    }
}
.kurslar__imgsmall{
    img{
        width: 44px;
        height: 44px;
        border-radius: 12px;
        padding: 5px;
        transform: translateX(-39px) translateY(5px);
        background: white;
    }
}
.kurslar{
    
    table{
        display: flex;
        flex-direction: column;
        tr{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
            align-items: flex-start;
            grid-gap: 50px;
            p,a{
                font-family: Gilroy-Medium;
                font-size: 18px;
                line-height: 21px;
                color: #111111;
            }
            h2{
                font-family: Gilroy-Medium;
                font-size: 16px;
                line-height: 19px;
                color: #111111;
                opacity: 0.54;
            }
        }
        th{
            font-family: Gilroy-Medium;
            font-size: 16px;
            line-height: 19px;
            color: #111111;
            opacity: 0.54;
            text-align: left;
            padding-top: 15px;
            padding-bottom: 30px;
        }
        th:first-child{
            width: 198px;
        }
        .kurslar__tr{
            padding: 18px 0px 18px 0px;
            border-bottom: 2px solid rgba(17, 17, 17, 0.06);
            margin-left: 54px;
            align-items: center;
        }
        .kurslar__category{
            padding-left: 54px;
            border-bottom: 2px solid rgba(17, 17, 17, 0.06);
        }
    }
}
.kurs{
    margin-bottom: 56px;
    display: flex;
    .kurs__1{
        max-width: 748px;
        border-right: 1px solid rgba(17, 17, 17, 0.06);
        .kurs__video{
            width: 748px;
            height: 420px;
            background: #F1F1F1;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                outline: none;
                background: none;
                border: none;
            }
        }
        .kurs__info{
            max-width: 676px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .kurs__info__1{
            p{
                font-family: Gilroy-Bold;
                font-size: 30px;
                line-height: 35px;
                display: flex;
                align-items: center;
                color: #111111;
                margin-top: 36px;
                margin-bottom: 18px;
            }
        }
        .kurs__info__2{
            p{
                font-family: Gilroy-Medium;
                font-size: 18px;
                line-height: 24px;
                color: rgba(17, 17, 17, 0.54);
                margin-bottom: 54px;
                a{
                    color: #006AFF;
                }
            }
        }
        .kurs__info__3{
            display: flex;
            justify-content: space-between;
            h1{
                font-family: Gilroy-Medium;
                font-size: 24px;
                line-height: 28px;
                display: flex;
                align-items: center;
                color: #111111;
                a{
                    font-family: Gilroy-Medium;
                    font-size: 24px;
                    line-height: 28px;
                    display: flex;
                    align-items: center;
                    color: #111111;
                    color: #006AFF;
                    padding-left: 5px;
                }
            }
            a{
                font-family: Gilroy-Medium;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #006AFF;
            }
            .kurs__views{
                display: flex;
                align-items: center;
                padding-left: 20px;
                img{
                    margin-right: 5px;
                    width: 18px;
                    height: 18px;
                }
                span{
                    opacity: 0.4;
                    padding-left: 4px;
                }
            }
            .kurs__info__3__2{
                display: flex;
            }
        }
    }
}
.kursxaqida{
    padding: 24px 0 24px 0;
    margin: 0 36px 0 36px;
    border-top: 2px solid rgba(17, 17, 17, 0.06);
    h1{
        font-family: Gilroy-Bold;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        color: #111111;
        padding: 12px 0 12px 0;
    }
    p{
        font-family: Gilroy-Medium;
        font-size: 18px;
        line-height: 21px;
        color: rgba(17, 17, 17, 0.54);
        padding: 6px 0px 6px 0px;
    }
    div{
        display: flex;
        align-items: center;
    }
    img{
        padding-right: 12px;
    }
}
.kurs__2__1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 36px 25px 30px;
}
.kurs__2{
    width: 422px;
    display: flex;
    flex-direction: column;
    h1{
        font-family: Gilroy-Bold;
        font-size: 30px;
        line-height: 35px;
        color: #111111;
    }
    p{
        font-family: Gilroy-Medium;
        font-size: 18px;
        line-height: 21px;
        color: rgba(17, 17, 17, 0.72);
    }
    .kurs__2__video{
        display: flex;
        align-items: center;
        width: 362px;
        height: 72px;
        background: rgba(17, 17, 17, 0.02);
        border-radius: 14px;
        margin: 9px 0px 9px 30px;
        img{
            width: 24px;
            height: 24px;
            margin-left: 30px;
            margin-right: 18px;
        }
    }
}