.sozlamalar{
    display: flex;
    flex-direction: column;
    
}
.sozlamalar__1{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(17, 17, 17, 0.06);
    padding-left: 30px;
    h1{
        font-family: Gilroy-Bold;
        font-size: 24px;
        line-height: 28px;
        color: #111111;
        padding-bottom: 6px;
        span{
            opacity: 0.54;
        }
    }
    h2{
        font-family: Gilroy-Medium;
        font-size: 16px;
        line-height: 19px;
        color: #111111;
    }
    .sozlama1{
        width: 254px;
        height: 90px;
        background: rgba(17, 17, 17, 0.03);
        border-radius: 18px;
        margin-right: 24px;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    .sozlama1__2{
        border-radius: 50%;
        background: #006aff26;
        img{
            width: 24px;
            height: 24px;
        }
        a{
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.sozlamalar__2{
    padding-left: 30px;
    p{
        font-family: Gilroy-Medium;
        font-size: 18px;
        line-height: 21px;
        color: rgba(17, 17, 17, 0.36);
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 6px;
    }
    a{
        font-family: Gilroy-Medium;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #006AFF;
        padding: 24px 30px;
        background: #E7F0FF;
        border-radius: 18px;
    }
    
    .sozlama__input{
        display: flex;
        input{
            font-family: Gilroy-Medium;
            font-size: 24px;
            line-height: 28px;
            color: #111111;
            width: 334px;
            height: 76px;
            background: rgba(17, 17, 17, 0.02);
            border-radius: 18px;
            padding-left: 30px;
            padding-bottom: 6px;
            border: none;
            outline: none;
        }
        a{
            margin-left: 12px;
        }
    }
}