.statistika__asos{
	display: grid;
	grid-template-rows: 1fr 3.4fr 3.4fr 3.4fr;
	grid-gap: 24px;
	padding: 0px 30px 30px 30px;
}
*{
	font-family: Gilroy;
}
.statistika__1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 36px;
}
.stat__1{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 254px;
	height: 90px;
	background: rgba(17, 17, 17, 0.03);
	border-radius: 18px;
	h1{
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #111111;
		padding-bottom: 6px;
	}
	p{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #111111;
	}
	img{
		width: 48px;
		height: 48px;
		padding: 12px;
		border-radius: 50%;
	}
}
#stat__1{
	img{
		background: #006AFF30;
	}
}
#stat__2{
	img{
		background: #9B51E030;
	}
}
#stat__3{
	img{
		background: #F2994A30;
	}
}
#stat__4{
	img{
		background: #27AE6030;
	}
}

.statistika__2{
	display: grid;
	grid-template-columns: 3.3fr 1fr;
	grid-gap: 36px;
	.recharts-wrapper{
		padding-top: 24px;
		transform: translateX(-15px);
	}
	.recharts-legend-wrapper{
		width: auto !important;
		height: auto !important;
		left: auto !important;
		bottom: 270px !important;
		right: 0 !important;
		.recharts-surface{
			width: 6px;
			height: 6px;
			border-radius: 50%;
		}
	} 
	.recharts-area-curve{
		stroke-width: 3px;
	}
	.recharts-default-tooltip{
		border-radius: 18px;
		border: none !important;
	}
	.recharts-tooltip-wrapper{
		background: none !important;
		
	}
	.recharts-dot{
		fill: #E6E9F2;
		stroke-width: 4px;
		stroke: #006AFF;
		r: 6px;
	}
	.yAxis{
		tspan{
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #111111;
			opacity: 0.3;
			
		}
		.recharts-layer::before{
			content: "$";
			z-index: 1000;
			background: red;
			width: 25px;
			height: 25px;
		}
		text{
			transform: translateX(-10px);
		}
		.recharts-cartesian-axis-line{
			stroke: none;
		}
		line{
			stroke: none;
		}
	}
	.xAxis{
		tspan{
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			color: #111111;
			opacity: 0.3;
			
		}
		text{
			transform: translateY(10px);
		}
		line{
			stroke: none;
			
		}
	}
}
.statistika__3{
	display: grid;
	grid-template-columns: 3.3fr 1fr;
	grid-gap: 36px;
	.recharts-wrapper{
		padding-top: 24px;
		transform: translateX(-15px);
	}
	.recharts-area-curve{
		stroke-width: 3px;
	}
	.recharts-default-tooltip{
		border-radius: 18px;
		border: none !important;
	}
	.recharts-tooltip-wrapper{
		background: none !important;
		
	}
	.recharts-dot{
		fill: #fff;
		stroke-width: 4px;
		stroke: #006AFF;
		r: 6px;
	}
	.yAxis{
		tspan{
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #111111;
			opacity: 0.3;
			
		}
		.recharts-layer::before{
			content: "$";
			z-index: 1000;
			background: red;
			width: 25px;
			height: 25px;
		}
		text{
			transform: translateX(-10px);
		}
		.recharts-cartesian-axis-line{
			stroke: none;
		}
		line{
			stroke: none;
		}
	}
	.xAxis{
		tspan{
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			color: #111111;
			opacity: 0.3;
			
		}
		text{
			transform: translateY(10px);
		}
		line{
			stroke: none;
			
		}
	}
}
.statistika__4{
	display: grid;
	grid-template-columns: 2.2fr 1fr 1fr;
	grid-gap: 36px;
}
.stat__2_1{
	background: rgba(17, 17, 17, 0.03);
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	h1{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		color: #111111;
	}
	.stat__2_info{
		display: flex;
		justify-content: flex-start;
		width: 93%;
		padding-top: 18px;
	}
}
.stat__2_2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: rgba(17, 17, 17, 0.03);
	border-radius: 18px;
	h1{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #111111;
		width: 85%;
		transform: translateY(15px);
	}
	h2{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
		color: #111111;
		transform: translateY(110px);
	}
	ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-left: 15px;
		height: 50px;
	}
	li{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: rgba(17, 17, 17, 0.54);
		padding: 3px 0;
		margin: 0 17px;
	}
	.li_1::marker{
		color: #006AFF;
	}
	.li_2::marker{
		color: #F2C94C;
	}
	.li_3::marker{
		color: #2D9CDB;
	}
	.li_4::marker{
		color: #6FCF97;
	}
	.li_5::marker{
		color: #F2994A;
	}
	.li_6::marker{
		color: #d9d9d9;
	}
	li::marker{
		font-size: 20px;
	}

}
.stat__3_1{
	background: rgba(17, 17, 17, 0.03);
	border-radius: 18px;
	padding: 24px;
}
#stat__3_1{
	
	button{
		display: flex;
		outline: none;
		background: none;
		border: none;
		
	}
	img{
		margin-left: 10px;
	}
	h1{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #111111;
	}
}
#stat__3_2{
	
	button{
		display: flex;
		outline: none;
		background: none;
		border: none;
		opacity: 0.3;
	}
	img{
		margin-left: 10px;
	}
	h2{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #111111;
	}
}
.stat__3{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.stat__3_2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: rgba(17, 17, 17, 0.03);
	border-radius: 18px;
	h1{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #111111;
		width: 85%;
		transform: translateY(15px);
	}
	h2{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
		color: #111111;
		transform: translateY(110px);
	}
	li{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: rgba(17, 17, 17, 0.54);
		padding: 3px 0;
		margin: 0 17px;
	}
	ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 50px;
	}
	li::marker{
		font-size: 20px;
	}
	.yigitlar::marker{
		color: #006AFF;
	}

}
.stat__4{
	display: flex;
	flex-direction: column;
	padding: 24px;
	background: rgba(17, 17, 17, 0.03);
	border-radius: 18px;
	.stat__4__1{
		display: flex;
		justify-content: space-between;
		background: none;
		div{
			background: none;
		}
		h1{
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #111111;
		}
		h2{
			font-family: Gilroy;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #111111;
			opacity: 0.3;
		}
		#stat__4_1{
			display: flex;
			button{
				outline: none;
				background: none;
				border: none;
				margin-left: 10px;
			}
		}
	}
}
.stat__4__2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	.davlat__1{
		display: flex;
		justify-content: space-between;
		padding-bottom: 8px;
	}
	.davlat{
		padding: 12px 15px;
	}
	h1{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #111111;
		opacity: 0.72;
	}
	h2{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: rgba(17, 17, 17, 0.54);
	}
}
.stat__4_2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: rgba(17, 17, 17, 0.03);
	border-radius: 18px;
	h1{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #111111;
		width: 85%;
		transform: translateY(15px);
	}
	h2{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
		color: #111111;
		transform: translateY(110px);
	}
	li{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: rgba(17, 17, 17, 0.54);
		padding: 3px 0;
		margin: 0 17px;
	}
	ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 50px;
	}
	li::marker{
		font-size: 20px;
	}
	.pullik::marker{
		color: #006AFF;
	}

}
.stat__4_3{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: rgba(17, 17, 17, 0.03);
	border-radius: 18px;
	h1{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #111111;
		width: 85%;
		transform: translateY(15px);
	}
	h2{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
		color: #111111;
		transform: translateY(110px);
	}
	ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-left: 15px;
		height: 50px;
	}
	li{
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: rgba(17, 17, 17, 0.54);
		padding: 3px 0;
		margin: 0 17px;
	}
	.li_1::marker{
		color: #006AFF;
	}
	.li_2::marker{
		color: #F2C94C;
	}
	.li_3::marker{
		color: #6FCF97;
	}
	.li_4::marker{
		color: #d9d9d9;
	}
	li::marker{
		font-size: 20px;
	}
}
